.canvas-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-container canvas {
  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-invert {
  -webkit-filter: invert(0.7);
  filter: invert(0.7);
}